$calendar-fonts: "Arial", sans-serif;
$calendar-text-size: 30px;
$calendar-size: 710px;
$calendar-size-block: 100px;
$block-to-right: 101px;
$block-color: #eee;
$block-color-hover: pink;
$block-border: 1px solid #000;
